.integrations-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  overflow-y: auto;
  align-content: start;
}

.integration-card {
  gap: 8px;
}

.integration-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
