.knowledge-search {
  width: 200px;
  cursor: text;
  background-image: none;
  padding-right: 10px;
}

.knowledge-excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
